
@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddCategory</h2>

@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategoriya adı");
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br />
        <br />
        @Html.Label("Aciqlama")
        @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br />
        <br />
        <button class="btn btn-info" id="btn">Əlavə et</button>
    </div>
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    $('#btn3').click(function () {
        swal("Təşəkkürlər!", "Əlavə edildi.", "Success)")
    });
</script>